@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-block-clickable: #d89dd6;
  --clock-block-last-selected: #8a558a;
  --clock-block-passed: #8a558a;
  --color-block-basic: #b078af;
  --color-block-not-selected: #b078af;
  --color-title-year: #636;
  --color-title-function: #007e7b;
  --color-functies: #51b3af;
}

#roadmapBlock {
  width: 100%;
  padding: 0 10px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  font-family: "Open Sans", sans-serif;
}

.block {
  border: 2px solid var(--color-title-year);
  border-radius: 7px;
  padding: 10px;
  margin: 10px 0 0 0;
  background-color: var(--color-block-basic);
  font-size: 0.8rem;
  opacity: 0.4;
  transition: all 0.2s;
}

.block.clickable {
  cursor: pointer;
  background-color: var(--color-block-clickable);
  opacity: 1;
}

.block.last-selected {
  background-color: var(--clock-block-last-selected);
  opacity: 1;
  color: #fff;
}

.block.not-selected {
  background-color: var(--color-block-not-selected);
  opacity: 0.3;
}

.block.passed {
  background-color: var(--clock-block-passed);
  opacity: 1;
  color: #fff;
}

.block.year {
  background-color: inherit;
  border: 3px solid var(--color-title-year);
  border-radius: 20px 20px 0 0;
  border-bottom: none;
  text-align: center;
  padding: 2px 0;
  margin: 10px 0 0 0;
  color: var(--color-title-year);
  font-weight: bold;
  font-size:1.0rem;
  opacity: 1;
}

.block.function {
  background-color: inherit;
  border: 3px solid var(--color-title-function);
  border-radius: 20px 20px 0 0;
  border-bottom: none;
  text-align: center;
  padding: 2px 0;
  margin: 10px 0 0 0;
  color: var(--color-title-function);
  font-weight: bold;
  font-size:1.0rem;
  opacity: 1;
}

.functies-rij .block {
  border-color: var(--color-title-function);
  background-color: var(--color-functies);
}
.functies-rij .block.passed {
  background-color: var(--color-functies);
}
