.tabs {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.tab {
  padding: 8px 16px;
  border: none;
  border-radius: 6px;
  background-color: #eee;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.2s;
  font-size: 1rem;
}

.tab:hover {
  background-color: #ddd;
}

.tab.active {
  background-color: #d89dd6;
  color: white;
}
